.top-spacer {
  margin: 2em 0;
}

#actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: right;
  margin: 1em 0;
}

#books_frame {
  #books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    .book {
      width: 200px;
      margin: 0.5em;

      .card {
        height: 100%;
      }

      .card-text {
        text-align: center;
      }
  
      a {
        text-decoration: none;
      }
  
      img {
        width: 200px;
        height: 310px;
      }
    }
  }
}
