<div class="book">
  <%= link_to book, data: { turbo_method: :get, turbo_stream: true } do %>
    <div class="card">
      <img class="rounded" src="<%= book.image %>" alt="book image" />
      <div class="card-body">
        <p class="card-text"><%= book.title %></p>
      </div>
    </div>
  <% end %>
</div>
