<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div>
  <div id="actions">
    <%= link_to "Add Book", new_book_path, class: "btn btn-primary", data: { turbo_frame: "modal" } %>
  </div>

  <%= turbo_frame_tag "books_frame", data: { turbo: false } do %>
    <div id="books">
      <% @books.each do |book| %>
        <%= render partial: "books/book_card", locals: { book: book } %>
      <% end %>
    </div>
  <% end %>
</div>
