<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @book.title %></li>
  </ol>
</nav>

<div class="content">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "books/book", locals: { book: @book } %>
    </div>
    <div class="col-md-9">
      <%= render template: "read_runs/index", locals: { book: @book, read_runs: @book.read_runs } %>
    </div>
  </div>
</div>
