<div id="actions">
  <%= button_to "Add Read Run", new_read_run_path(book_id: book_id), class: "btn btn-primary"%>
</div>

<turbo-frame id="read_runs">
  <% read_runs.order(created_at: :desc).each do |read_run| %>
    <%= render read_run %>
  <% end %>
</turbo-frame>
