<p style="color: green"><%= notice %></p>

<h1>Read runs</h1>

<div id="read_runs">
  <% @read_runs.each do |read_run| %>
    <%= render read_run %>
    <p>
      <%= link_to "Show this read run", read_run %>
    </p>
  <% end %>
</div>

<%= link_to "New read run", new_read_run_path %>
