<li id="<%= dom_id read_session %>" class="list-group-item">
  <div class="row">
    <div class="col-6">
      Read pages: <%= read_session.read_pages %>
    </div>
    <div class="col-6">
      Created at: <%= read_session.created_at %>
    </div>
  </div>
</li>
