<h1>Editing read session</h1>

<%= render "form", read_session: @read_session %>

<br>

<div>
  <%= link_to "Show this read session", @read_session %> |
  <%= link_to "Back to read sessions", read_sessions_path %>
</div>
