<p style="color: green"><%= notice %></p>

<h1>Read sessions</h1>

<div id="read_sessions">
  <% @read_sessions.each do |read_session| %>
    <%= render read_session %>
    <p>
      <%= link_to "Show this read session", read_session %>
    </p>
  <% end %>
</div>

<%= link_to "New read session", new_read_session_path %>
